h2 {
  font-family: Helvetica, sans-serif;
  color: #424F59;
  font-size: 24px;
  margin-top: 40px;
}

body {
  font-family: Helvetica, sans-serif;
  color: #424F59;
}

a {
  color: #424F59;
  text-decoration: none;
}

a:hover {
  color: #0092DB;
  text-decoration: underline;
}

.title {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #424F59;
  text-decoration: none;
}

.title:hover {
  color: #0092DB;
  text-decoration: underline;
}

h2 .text-muted {
  font-family: Helvetica, sans-serif;
  color:#A0A7AC;
  font-size: inherit;
}

li.history {
  margin-bottom: 10px;
}

.icon {
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}
div.favicon {
  width: 16px;
}
img.favicon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
.image {
  max-height: 90px;
  max-width: 125px;
}
.max-height-image {
  max-height: 100% !important;
}

.bookmarked {
  display: inline-block;
  background-image: url('../images/bookmarked.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.twitter-handle {
  color: #55acee;
}
.twitter-handle:hover {
  color: #55acee;
}
.action-open,
.action-ellipsis {
  cursor: pointer;
}

#footer {
  background-color: #f4f4f4;
  width: 100%;
  padding: 60px;
  color: #9BA2A7;
  text-align: center;
}

#footer img {
  height: 20px;
  margin-top: 40px;
  margin-bottom:20px;
}

.container {
  min-height: 500px;
}
